.search{
  display:flex;
}
.input{
  border:none;
  outline:none;
  border-bottom: 1px solid rgb(168, 168, 168);
  font-size: 16px;
}
.input:focus{
  border-bottom: 1px solid rgb(99, 99, 99);
}

.button{
  background: none;
  border:1px solid rgb(168, 168, 168);
  border-radius: 10px 10px 10px 0px;
  font-size: 16px;
  padding:5px;
}
.button:hover{
  border: 1px solid rgb(99, 99, 99);
}
.button:focus{
  outline:none;
  background: rgb(238, 238, 238);
}
