header{
 padding:20px;
 /*background: rgb(105, 105, 105);*/
 background: linear-gradient(90deg, rgb(141, 118, 118), #686868);
 display:flex;
 align-items: center;
 justify-content: left;
 box-shadow:0 0 15px rgba(0,0,0,0.5);
 position:relative;
}

header a{
  color:rgb(163, 163, 163);
  font-size: 1.2rem;
  text-decoration: none;
  margin-right:20px;
  position: relative;
}
header a.active{
  color:rgb(0, 0, 0);
  font-size: 1.2rem;
  text-decoration: none !important;
  margin-right:20px;
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

header a:hover{
  text-decoration: underline;
}

.home-logo{
  margin-left: auto;
  border-bottom: 1px solid;
  text-decoration: none !important;
}
